backend/roleplay_chatbot/chat_websocket/__pycache__
backend/roleplay_chatbot/roleplay_chatbot/__pycache__
backend/roleplay_chatbot/roleplay_manager/__pycache__
backend/roleplay_chatbot/.env
backend/.DS_Store
.DS_Store